{% extends 'base.html.twig' %}

{% block title %} Leitungs Plan {% endblock %}

{% block body %}
	<h1> Articles </h1>
	{{ form(form)}}

	<div style="position:relative; height: 600px; width: 1000px">	
	{% for key, value in plans %}
		{% set data = value|slice(1,2) %} 		
		<span style="position: absolute; height: 5px; width:5px; border-radius: 50%; background: blue; font-size: 14px;  left: {{data|first * 2 }}px; top: {{data|last}}px;"
		id="node-{{key}}">{{ key}}
		</span>
	{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	
	$('form').change(function() {

		var from = $('#form_From').val();
		var to = $('#form_To').val();
		$('svg').remove();

		var formData = {to : to, from: from };

		$.ajax({
		 type: 'POST',
		 url: '{{ path('submit_route') }}',
		 data: JSON.stringify(formData),
		 dataType: 'json',
		 success: function(msg){
		  for(key in msg){
		  	var nodePoint = msg[key];
		  	jsPlumb.connect({ source: 'node-'+ nodePoint[0] , target: 'node-' + nodePoint[1]
		  });
		  } 
		 },
		 error: function(xhr){
		   console.log('Failure');
		 }
		})
	});

});

</script>
{% endblock %} 